@model GodTur.Models.TravelPackage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>TravelPackage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutboundFlight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutboundFlight.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnFlight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnFlight.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageHotel.HotelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TravelPackageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
