@model IEnumerable<GodTur.Models.TravelPackage>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutboundFlight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnFlight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageHotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackagePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutboundFlight.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnFlight.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageHotel.HotelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackagePrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TravelPackageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TravelPackageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TravelPackageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
